:root {
	/* code theme: vercel-light */
	--shiki-color-text: hsla(0, 0%, 9%, 1);
	--shiki-color-background: hsla(0, 0%, 98%, 1);
	--shiki-token-constant: hsla(211, 100%, 42%, 1);
	--shiki-token-string: hsla(133, 50%, 32%, 1);
	--shiki-token-comment: hsla(215.38, 16.32%, 46.86%, 1);
	--shiki-token-keyword: hsla(336, 65%, 45%, 1);
	--shiki-token-parameter: hsla(30, 100%, 32%, 1);
	--shiki-token-function: hsla(274, 71%, 43%, 1);
	--shiki-token-string-expression: hsla(133, 50%, 32%, 1);
	--shiki-token-punctuation: hsla(0, 0%, 9%, 1);
	--shiki-token-link: hsla(133, 50%, 32%, 1);
}

:root:is(.dark) {
	/* code theme: vercel-dark */
	--shiki-color-text: hsla(0, 0%, 93%, 1);
	--shiki-color-background: hsla(0, 0%, 0%, 0.1);
	--shiki-token-constant: hsla(210, 100%, 66%, 1);
	--shiki-token-string: hsla(131, 43%, 57%, 1);
	--shiki-token-comment: hsla(215, 20.22%, 65.1%, 1);
	--shiki-token-keyword: hsla(341, 90%, 67%, 1);
	--shiki-token-parameter: hsla(35, 100%, 52%, 1);
	--shiki-token-function: hsla(275, 80%, 71%, 1);
	--shiki-token-string-expression: hsla(131, 43%, 57%, 1);
	--shiki-token-punctuation: hsla(0, 0%, 93%, 1);
	--shiki-token-link: hsla(131, 43%, 57%, 1);
}

/* outer code blocks */
[data-rehype-pretty-code-figure] {
	font-variant-ligatures: none;
	background-color: var(--shiki-color-background);
	@apply relative overflow-hidden my-10 font-mono rounded-lg border border-slate-300 dark:border-white/10;
}

.typeinfo [data-rehype-pretty-code-figure] {
	@apply my-3;
}

[data-rehype-pretty-code-figure] code {
	@apply text-sm leading-6;
}

[data-rehype-pretty-code-figure] [data-line] {
	@apply pr-3 sm:pr-5;
}

/* hide copy button for code blocks with a `title` including `noCopy` */
[data-rehype-pretty-code-figure]:has([data-copy='false']) [data-copy] {
	@apply hidden;
}

/* Styles nested code blocks or code blocks inside PreviewCode */
pre [data-rehype-pretty-code-figure] {
	@apply my-0 p-3 sm:p-5 border-none overflow-auto;
}

/* code block `title` (usually the file name) */
[data-rehype-pretty-code-title] {
	@apply ml-3 sm:ml-5 mt-3 sm:mt-4 text-slate-500 dark:text-slate-400 break-words;
}

[data-highlighted-chars] {
	@apply rounded-md bg-slate-400/10 dark:bg-slate-800;
}

[data-highlighted-line] {
	@apply bg-slate-400/10 dark:bg-slate-800;
}
