@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	/* code theme: vercel-light */
	--shiki-color-text: hsla(0, 0%, 9%, 1);
	--shiki-color-background: hsla(0, 0%, 98%, 1);
	--shiki-token-constant: hsla(211, 100%, 42%, 1);
	--shiki-token-string: hsla(133, 50%, 32%, 1);
	--shiki-token-comment: hsla(215.38, 16.32%, 46.86%, 1);
	--shiki-token-keyword: hsla(336, 65%, 45%, 1);
	--shiki-token-parameter: hsla(30, 100%, 32%, 1);
	--shiki-token-function: hsla(274, 71%, 43%, 1);
	--shiki-token-string-expression: hsla(133, 50%, 32%, 1);
	--shiki-token-punctuation: hsla(0, 0%, 9%, 1);
	--shiki-token-link: hsla(133, 50%, 32%, 1);
}

:root:is(.dark) {
	/* code theme: vercel-dark */
	--shiki-color-text: hsla(0, 0%, 93%, 1);
	--shiki-color-background: transparent;
	--shiki-token-constant: hsla(210, 100%, 66%, 1);
	--shiki-token-string: hsla(131, 43%, 57%, 1);
	--shiki-token-comment: hsla(215, 20.22%, 65.1%, 1);
	--shiki-token-keyword: hsla(341, 90%, 67%, 1);
	--shiki-token-parameter: hsla(35, 100%, 52%, 1);
	--shiki-token-function: hsla(275, 80%, 71%, 1);
	--shiki-token-string-expression: hsla(131, 43%, 57%, 1);
	--shiki-token-punctuation: hsla(0, 0%, 93%, 1);
	--shiki-token-link: hsla(131, 43%, 57%, 1);
}

body {
	@apply antialiased bg-slate-50 dark:bg-slate-950;
}

/* outer code blocks */
[data-rehype-pretty-code-figure] {
	font-variant-ligatures: none;
	background-color: var(--shiki-color-background);
	@apply relative overflow-hidden my-10 font-mono rounded-lg border border-slate-300 dark:border-white/20;
}

.typeinfo [data-rehype-pretty-code-figure] {
	@apply my-3;
}

[data-rehype-pretty-code-figure] code {
	@apply text-sm leading-6;
}

[data-rehype-pretty-code-figure] [data-line] {
	@apply pr-5;
}

/* hide copy button for code blocks with a `title` including `:nocopy` */
[data-rehype-pretty-code-figure]:has([data-copy='false']) [data-copy] {
	@apply hidden;
}

/* Styles nested code blocks or code blocks inside PreviewCode */
pre [data-rehype-pretty-code-figure] {
	@apply my-0 p-5 border-none overflow-auto;
}

/* code block `title` (usually the file name) */
[data-rehype-pretty-code-title] {
	@apply ml-5 mt-4 text-slate-500 dark:text-slate-400;
}

[data-highlighted-chars] {
	@apply rounded-md bg-slate-800/10 dark:bg-slate-800;
}

[data-highlighted-line] {
	@apply rounded-md bg-slate-800/10 dark:bg-slate-800;
}

.bg-pattern {
	background-color: transparent;
	background-size: 20px 20px;
	background-image: radial-gradient(
		hsl(237deg 92% 62% / 10%) 1px,
		transparent 1px
	);
}

:root:is(.dark) .bg-pattern {
	background-image: radial-gradient(
		hsl(237deg 92% 62% / 20%) 1px,
		transparent 1px
	);
}

.no-scroll {
	position: fixed;
	overflow-y: scroll;
	width: 100%;
}

.focus-ring {
	@apply focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2;
}

.toc-level {
	@apply list-none pl-0;
}

.toc-level-1 {
	@apply my-3;
}

.toc-level-2 {
	@apply ml-3;
}

.toc-item {
	@apply m-0 p-0 text-sm;
}

.toc-link {
	@apply font-normal no-underline py-1 block w-full rounded-sm focus-ring hover:text-black focus-visible:text-black dark:focus-visible:text-white dark:hover:text-white hover:underline text-black/60 dark:text-white/60;
}

.toc-active {
	@apply font-bold text-blue-600 dark:text-blue-400;
}

.heading-link {
	@apply no-underline relative before:content-[''] before:absolute before:-left-2 before:-translate-x-full before:w-6 before:h-[1em] before:rounded-md before:opacity-0 before:transition-opacity hover:before:opacity-100;
}

.heading-link::before {
	background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.165 17.65c-.24.224-.425.374-.615.484a3 3 0 0 1-3 0c-.342-.198-.67-.527-1.328-1.184-.658-.658-.987-.987-1.184-1.329a3 3 0 0 1 0-3c.197-.342.526-.67 1.184-1.328L7.05 8.464c.658-.657.986-.986 1.328-1.183a3 3 0 0 1 3 0c.342.197.671.526 1.329 1.183.657.658.986.987 1.184 1.329a3 3 0 0 1 0 3c-.11.19-.26.375-.483.615m-2.816-2.816c-.224.24-.374.425-.483.615a3 3 0 0 0 0 3c.197.342.526.671 1.184 1.329.657.657.986.986 1.328 1.183a3 3 0 0 0 3 0c.342-.197.67-.526 1.329-1.184l2.828-2.828c.658-.658.986-.986 1.184-1.328a3 3 0 0 0 0-3c-.198-.342-.526-.671-1.184-1.329-.658-.657-.986-.986-1.328-1.184a3 3 0 0 0-3 0c-.19.11-.376.26-.615.484' stroke='%2360a5fa' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-position: center;
}
